<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CricMania"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FantasyApp"
        tools:targetApi="31">
        <activity
            android:name=".ViewFullTeamPoints"
            android:exported="false" />
        <activity
            android:name=".TeamRankingsInContest"
            android:exported="false" />
        <activity
            android:name=".AnalysisResult"
            android:exported="false" />
        <activity
            android:name=".RegisterTeamInContest"
            android:exported="false" />
        <activity
            android:name=".ViewTeams"
            android:exported="false" />
        <activity
            android:name=".SelectCapVc"
            android:exported="false" />
        <activity
            android:name=".PreviewTeam"
            android:exported="false" />
        <activity
            android:name=".UpcomingContest"
            android:exported="false" />
        <activity
            android:name=".CreateTeam"
            android:exported="false" />
        <activity
            android:name=".ticTacToeGame"
            android:exported="false" />
        <activity
            android:name=".JoinedContests"
            android:exported="false" />
        <activity
            android:name=".MinesGridGame"
            android:exported="false" />
        <activity
            android:name=".TransactionHistory"
            android:exported="false" />
        <activity
            android:name=".WithdrawAmount"
            android:exported="false" />
        <activity
            android:name=".PaymentAmount"
            android:exported="false" />
        <activity
            android:name=".Scorecard"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".FantsyPoint"
            android:exported="false" />
        <activity
            android:name=".ProfiePage"
            android:exported="false" />
        <activity
            android:name=".splash_demo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Otp"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>